.cartListContainer {
    position: absolute;
    width: 360px;
    height: auto;
    border-radius: 3px;
    top: 46px;
    right: -2px;
    background: #ffffff;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
    border: 1px solid rgba(0,0,0,.19);
    z-index: 10;
}

.cartListContainer:after {
    content: "";
    position: absolute;
    top: -7px;
    right: 9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
}

.cartListContainer:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
}

.cartListRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.cartListProductItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 63px;
}

.cartListProductItem.active {
    animation: outAnimation 0.160s ease-out;
    transition-duration: 0.1s;
}

.cartListProductItem:hover {
    transition-duration: 0.3s;
    background: rgba(147,220,156,.15);
}

.cartListProductName {
    color: #999;
    font-size: 14px;
}

.cartListProductPrice {
    font-weight: 700;
    color: #999;
}

.cartListProductQuantity {
    text-align: right;
    font-size: 14px;
    color: #999;
}

.cartListProductSum {
    text-wrap: nowrap;
    font-weight: 700;
}

.emptyCartImageRow {
    padding: 25px 0 50px 0;
}

.emptyCartImageRow.disable {
    display: none;
}

.emptyRow {
    padding: 0 0 100px 0;
}

.emptyCartImage {
    width: 250px;
}

.cartInfo {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0 0 0;
    text-align: center;
}

.listProductImg {
    padding: 0 0 0 4px;
}

.cartListProductImage {
    width: 55px;
    height: 55px;
}

.cartListProductInfo {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 0 0 0 10px;
}

.cartListProductTotalPrice {
    font-weight: 700;
}

.remove_product_wrapper {
    margin: 0 0 0 5px;
}

.remove_product_button {
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center;
    background: none;
}

.remove_product_button:hover {
    transition: 0.3s;
    color: red;
}

.checkout_button_wrapper {
    padding: 10px;
}

.checkout_button {
    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #fc7710;
    border: 0;
    font-weight: 400;
    padding: 0 30px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

@keyframes outAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
