#root {
  max-width: 100%;
}

/*.container {*/
/*  width: 100vw;*/
/*  position: relative;*/
/*  left: 50%;*/
/*  right: 50%;*/
/*  margin-left: -50vw;*/
/*  margin-right: -50vw;*/
/*}*/

.rotatingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

