.headerLogo img {
    width: 130px;
    cursor: pointer;
}

@media (max-width : 800px)  {
    .headerLogo {
        padding: 0 40px 0 0;
    }

    .headerLogo img {
        width: 120px;
    }
}

@media (max-width : 800px)  {
    .headerLogo {
        padding: 0 15px 0 0;
    }
}

@media (max-width : 480px)  {
    .headerLogoMobile {
        display: none;
    }

}

@media (max-width : 300px)  {
    .headerLogo {
        padding: 0;
    }
    .cart {
        padding: 0 5px 0 0;
    }
}

